<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a style=" font-weight: bolder;  margin-left: 20px;font-size: 25px;font-family: 'Shrikhand', cursive;" class="navbar-brand text-dark" href="#"><i class="fas fa-tools"></i>&nbsp;NEWGLOBAL POWERTOOLS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">       
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_logout' %}"><i class="fas fa-lock"></i>&nbspLogout</a>
        </li>       
      </ul>
    </div>
  </nav>