{% extends 'myshop/base.html' %}
{% load static %}

{% block content %}
<section class="contact_section">
    <div class="container">
        <div><h3 style="font-family: 'Shrikhand', cursive;letter-spacing: 2px;" class="text-danger bg-dark text-center fw-bold">CONNECT US</h3></div>
        <div class="row  my-5">
            <div class="col-sm-6 ">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d422.4014213538412!2d78.7508153!3d14.051094!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb302213a7bd529%3A0x96474063f7199129!2z4LC44LC-4LCv4LC_IOCwrOCwvuCwrOCwviDgsIbgsLLgsK_gsII!5e1!3m2!1ste!2sin!4v1615790414560!5m2!1ste!2sin" width='500' height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>

            <div class="col-sm-6 bg-dark text-light text-center ">
                <div>
                    
                        <h3 class="text-danger text-center mt-5">Contact Information</h3>
                        <p ><i class="fas fa-shopping-cart text-success"></i>&nbsp &nbsp  NewGlobalPowerTools</p>
                        <p><i class="fas fa-map-marker-alt text-success "></i>&nbsp &nbsp  Rayachoty,Kadapa</p>
                        <p><i class="fas fa-envelope text-success mr-2"></i>&nbsp &nbsp    abdulsamad555@gmail.com</p>
                        <p class="text-danger"><i class="fas fa-phone-alt text-success mr-2"></i>&nbsp &nbsp<span >Abdul Samad </span> : +91 9494549704</p>
                        <p><i class="fas fa-globe-americas text-success mr-2"></i>&nbsp &nbsp   www.newglobalpowertools.com</p>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
