<div style="background-color: black;" class="container-fluid  text-light">
    <div class="row">
       
        <div style="margin-top: 20px;" class="col-sm-4 text-center">
            <h3 class="text-danger text-center">Contact Information</h3>
            <p ><i class="fas fa-shopping-cart"></i>&nbsp &nbsp  NewGlobalPowerTools</p>
            <p><i class="fas fa-map-marker-alt "></i>&nbsp &nbsp  Rayachoty,Kadapa</p>
            <p><i class="fas fa-envelope mr-2"></i>&nbsp &nbsp    abdulsamad555@gmail.com</p>
            <p><i class="fas fa-phone-alt mr-2"></i>&nbsp &nbsp<span class="text-danger">Abdul Samad </span> : +91 9494549704</p>
            <p><i class="fas fa-globe-americas mr-2"></i>&nbsp &nbsp   www.newglobalpowertools.com</p>
        </div>
    
        <div div style="margin-top: 20px;" class="col-sm-4">
            <h2  class="text-danger text-center">Service Information</h2>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quas expedita enim itaque suscipit laboriosam impedit quos tempora minus doloremque minima, exercitationem dolores, reprehenderit sunt nobis voluptate odit incidunt provident?</p>
        </div>
    
        <div div style="margin-top: 20px;" class="col-sm-4">
            <h2  class="text-danger text-center">Any Query ??</h2>
            <form action="" class="text-center">
                <!-- <label for="" class="fs-4">Email</label> -->
                <input class="form-control" type="email" placeholder="Email id"><br>
                <input type="submit" value="Ask Anything" class="btn btn-danger">
            </form>
        
        </div>
    </div>
    </div>
    <!-- footer part -->
    <div >
        <div class="footer p-1 bg-dark  text-light ">
            <h6 class="text-center">copyright@2021 <span>Designed By JABIDKHAN</span></h6>
        </div>
    </div>